{% extends 'EastitSiteBundle:Public:feed.xml.twig' %}

{% block title %}{%trans%}location.show.jobsin{%endtrans%} {{ city }}{% endblock %}
{% block atomLink %}{{ url('_public_city_feed', {slug:city.slug}) }}{% endblock %}
{% block htmlLink %}{{ url('_public_city_show', {slug:city.slug}) }}{% endblock %}
{% block description %}{%trans%}location.show.jobsin{%endtrans%} {{ city }}{% endblock %}


{% block items %}
	{% for opus in opuses %}
	<item>
		<title>{{ opus.headline }}</title>
		<link>{{ url('_public_opus_show',{opus_id:opus.id, opus_slug:opus.headlineSlug}) }}</link>
		<pubDate>{{ opus.publishFrom | date('r') }}</pubDate>
		<guid isPermaLink="false">{{ url('_public_opus_show',{opus_id:opus.id}) }}</guid>
		<description><![CDATA[{{ opus.description }}]]></description>
	</item>
	{% endfor %}

{% endblock %}
