{% extends 'EastitSiteBundle:Public:base.html.twig' %}

{% block title_prefix %}{%trans%}location.show.jobsin{%endtrans%} {{ city }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block meta_tags %}
	{{ parent() }}
	<link  rel="alternate" type="application/rss+xml" title="{%trans%}location.show.jobsin{%endtrans%} {{ city }} feed" href="{{ url('_public_city_feed',{slug:city.slug}) }}" />
{% endblock %}



{%block headercontent%}

	<div class="profile-cover opus-cover">

		<div class="profile-info">
			{% block focusinfo %}
				<h1>{%trans%}location.show.jobsin{%endtrans%} {{ city }}</h1>
			{% endblock %}
		</div>

		<div class="clearer"></div>
	</div>

{% endblock %}

{% block content %}

	<section>
		{% if pagination is defined and pagination|length > 0 %}

			{{ knp_pagination_render(pagination,null,{},{info:'true'}) }}

			{% include "EastitLegoOpusBundle:Public:list.html.twig" %}

			{{ knp_pagination_render(pagination) }}

		{% endif %}

	</section>

{% endblock %}
